<?xml version="1.0" encoding="UTF-8"?>
<ObjectDefinition>  <information>
    <configType>xml</configType>
    <createTemplateId/>
    <createTemplateObject/>
    <defaultDisplay>false</defaultDisplay>
    <description/>
    <displayField>object_id</displayField>
    <dynamic>false</dynamic>
    <group>Default</group>
    <icon>/images/eclipseIcons/page_obj.gif</icon>
    <importIfMandatoryPresent>false</importIfMandatoryPresent>
    <importonce>false</importonce>
    <importrank>5</importrank>
    <maxInstances>0</maxInstances>
    <name>Routes</name>
    <order>10000</order>
    <relatedObjects/>
    <reorderinstances>false</reorderinstances>
    <sortascending>true</sortascending>
    <sortauto>true</sortauto>
    <sortnumerical>true</sortnumerical>
    <sortvariable>params._order</sortvariable>
    <visibility>5</visibility>
  </information>  <variables frozen="0">
    <variable displayName="Device" displayOrder="0" editable="false" maxLength="100" name="params.Devices" numberOfRowMax="0" startIncrement="0" tableSizeFix="false" type="ObjectRef" visible="false">
      <classes>
        <class>Devices</class>
      </classes>
    </variable>
    <variable displayName="status" displayOrder="1" maxLength="100" name="params.status" numberOfRowMax="0" startIncrement="0" tableSizeFix="false" type="String"/>
    <variable displayName="destination" displayOrder="2" maxLength="100" name="params.osRoutes.0.destination" numberOfRowMax="0" startIncrement="0" tableSizeFix="false" type="String">
      <sections>
        <section>osRoutes</section>
      </sections>
    </variable>
    <variable displayName="gateway" displayOrder="3" maxLength="100" name="params.osRoutes.0.gateway" numberOfRowMax="0" startIncrement="0" tableSizeFix="false" type="String">
      <sections>
        <section>osRoutes</section>
      </sections>
    </variable>
    <variable displayName="interface" displayOrder="4" maxLength="100" name="params.osRoutes.0.interface" numberOfRowMax="0" startIncrement="0" tableSizeFix="false" type="String">
      <sections>
        <section>osRoutes</section>
      </sections>
    </variable>
    <variable displayName="mask" displayOrder="5" maxLength="100" name="params.osRoutes.0.mask" numberOfRowMax="0" startIncrement="0" tableSizeFix="false" type="String">
      <sections>
        <section>osRoutes</section>
      </sections>
    </variable>
  </variables>  <example>
    <content>Click here and paste your configuration example that represent the Microservice OR a complete existant Microservice definition file.
</content>
  </example>
<command name="IMPORT">
    <operation>GET</operation>
    <xpath>{foreach from=$Devices item=device}/api/devices/{$device.object_id}/routes##{/foreach}</xpath>
    <parser>
      <section>
        <xpath>//root</xpath>
      </section>
      <lines>
        <line>
          <array name="osRoutes">
            <xpath>//osRoutes/row</xpath>
            <lines>
              <line>
                <xpath>interface</xpath>
                <regexp>@&lt;interface&gt;(?&lt;interface&gt;.*)&lt;/interface&gt;@</regexp>
              </line>
              <line>
                <xpath>//destination</xpath>
                <regexp>@&lt;destination&gt;(?&lt;destination&gt;.*)&lt;/destination&gt;@</regexp>
              </line>
              <line>
                <xpath>gateway</xpath>
                <regexp>@&lt;gateway&gt;(?&lt;gateway&gt;.*)&lt;/gateway&gt;@</regexp>
              </line>
              <line>
                <xpath>//mask</xpath>
                <regexp>@&lt;mask&gt;(?&lt;mask&gt;.*)&lt;/mask&gt;@</regexp>
              </line>
            </lines>
          </array>
        </line>
        <line>
          <xpath>status</xpath>
          <regexp>@&lt;status&gt;(?&lt;status&gt;.*)&lt;/status&gt;@</regexp>
        </line>
      </lines>
    </parser>
    <post_template/>
  </command>
</ObjectDefinition>
