<ObjectDefinition>
  <information>
    <icon>/images/repository/CommandDefinition/icons/system_fortinet.png</icon>
    <description>system parameters</description>
    <displayField>timezone</displayField>
    <serviceTaskType/>
    <order>15000</order>
    <visibility>1</visibility>
    <configType>cli</configType>
    <createTemplateId/>
    <createTemplateObject/>
    <defaultDisplay>false</defaultDisplay>
    <dynamic>false</dynamic>
    <importIfMandatoryPresent>false</importIfMandatoryPresent>
    <maxInstances>0</maxInstances>
    <relatedObjects/>
    <name>Timezone</name>
    <group>System</group>
    <importonce>false</importonce>
    <importrank>1</importrank>
    <reorderinstances>false</reorderinstances>
    <sortascending>true</sortascending>
    <sortauto>true</sortauto>
    <sortnumerical>true</sortnumerical>
    <sortvariable>params._order</sortvariable>
  </information>
  <variables frozen="0">
    <variable displayName="Timezone" name="params.object_id" startIncrement="0" type="String" mandatoryArray="false" visible="false" description="" groupSeparator="" groupDisplayName="" displayOrder="0" increment="0" refServiceURI="" keepOnImport="false" editable="true" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" default="0" isMandatory="true" isUserLocked="true" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <repositories/>
    </variable>
    <variable displayName="Timezone" name="params.device_timezone" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="1" increment="0" refServiceURI="" keepOnImport="false" editable="false" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" default="25" isMandatory="true" isUserLocked="false" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <repositories/>
      <values>
        <values displayValue="(GMT-12:00)Eniwetok,Kwajalein">00</values>
        <values displayValue="(GMT-11:00)Midway Island, Samoa">01</values>
        <values displayValue="(GMT-10:00)Hawaii">02</values>
        <values displayValue="(GMT-9:00)Alaska">03</values>
        <values displayValue="(GMT-8:00)Pacific Time(US&amp;Canada)">04</values>
        <values displayValue="(GMT-7:00)Arizona">05</values>
        <values displayValue="(GMT-7:00)Mountain Time(US&amp;Canada)">06</values>
        <values displayValue="(GMT-6:00)Central America">07</values>
        <values displayValue="(GMT-6:00)Central Time(US&amp;Canada)">08</values>
        <values displayValue="(GMT-6:00)Mexico City">09</values>
        <values displayValue="(GMT-6:00)Saskatchewan">10</values>
        <values displayValue="(GMT-5:00)Bogota,Lima,Quito">11</values>
        <values displayValue="(GMT-5:00)Eastern Time(US &amp; Canada)">12</values>
        <values displayValue="(GMT-5:00)Indiana(East)">13</values>
        <values displayValue="(GMT-4:00)Atlantic Time(Canada)">14</values>
        <values displayValue="(GMT-4:00)La Paz">15</values>
        <values displayValue="(GMT-4:00)Santiago">16</values>
        <values displayValue="(GMT-3:30)Newfoundland">17</values>
        <values displayValue="(GMT-3:00)Brasilia">18</values>
        <values displayValue="(GMT-3:00)Buenos Aires">19</values>
        <values displayValue="(GMT-3:00)Nuuk(Greenland)">20</values>
        <values displayValue="(GMT-2:00)Mid-Atlantic">21</values>
        <values displayValue="(GMT-1:00)Azores">22</values>
        <values displayValue="(GMT-1:00)Cape Verde Is.">23</values>
        <values displayValue="(GMT)Monrovia">24</values>
        <values displayValue="(GMT)Dublin,Edinburgh,Lisbon,London">25</values>
        <values displayValue="(GMT+1:00)Amsterdam,Berlin,Bern,Rome,Stockholm,Vienna">26</values>
        <values displayValue="(GMT+1:00)Belgrade,Bratislava,Budapest,Ljubljana,Prague">27</values>
        <values displayValue="(GMT+1:00)Brussels,Copenhagen,Madrid,Paris">28</values>
        <values displayValue="(GMT+1:00)Sarajevo,Skopje,Warsaw,Zagreb">29</values>
        <values displayValue="(GMT+1:00)West Central Africa">30</values>
        <values displayValue="(GMT+2:00)Athens,Istanbul,Minsk,Sofija">31</values>
        <values displayValue="(GMT+2:00)Bucharest">32</values>
        <values displayValue="(GMT+2:00)Cairo">33</values>
        <values displayValue="(GMT+2:00)Harare,Pretoria">34</values>
        <values displayValue="(GMT+2:00)Helsinki,Riga,Tallinn">35</values>
        <values displayValue="(GMT+2:00)Jerusalem">36</values>
        <values displayValue="(GMT+3:00)Baghdad">37</values>
        <values displayValue="(GMT+3:00)Kuwait,Riyadh">38</values>
        <values displayValue="(GMT+4:00)Moscow,St.Petersburg,Volgograd">39</values>
        <values displayValue="(GMT+3:00)Nairobi">40</values>
        <values displayValue="(GMT+3:30)Tehran">41</values>
        <values displayValue="(GMT+4:00)Abu Dhabi,Muscat">42</values>
        <values displayValue="(GMT+4:00)Baku">43</values>
        <values displayValue="(GMT+4:30)Kabul">44</values>
        <values displayValue="(GMT+6:00)Ekaterinburg">45</values>
        <values displayValue="(GMT+5:00)Islamabad,Karachi,Tashkent">46</values>
        <values displayValue="(GMT+5:30)Calcutta,Chennai,Mumbai,New Delhi">47</values>
        <values displayValue="(GMT+5:45)Kathmandu">48</values>
        <values displayValue="(GMT+6:00)Almaty">49</values>
        <values displayValue="(GMT+6:00)Astana,Dhaka">50</values>
        <values displayValue="(GMT+5:30)Sri Jayawardenepara">51</values>
        <values displayValue="(GMT+6:30)Rangoon">52</values>
        <values displayValue="(GMT+7:00)Bangkok,Hanoi,Jakarta,Novosibirsk">53</values>
        <values displayValue="(GMT+8:00)Krasnoyarsk">54</values>
        <values displayValue="(GMT+8:00)Beijing,ChongQing,HongKong,Urumgi">55</values>
        <values displayValue="(GMT+8:00)Ulaan Bataar">56</values>
        <values displayValue="(GMT+8:00)Kuala Lumpur,Singapore">57</values>
        <values displayValue="(GMT+8:00)Perth">58</values>
        <values displayValue="(GMT+8:00)Taipei">59</values>
        <values displayValue="(GMT+9:00)Irkutsk,Osaka,Sapporo,Tokyo,Seoul">60</values>
        <values displayValue="(GMT+10:00)Yakutsk">61</values>
        <values displayValue="(GMT+9:30)Adelaide">62</values>
        <values displayValue="(GMT+9:30)Darwin">63</values>
        <values displayValue="(GMT+10:00)Brisbane">64</values>
        <values displayValue="(GMT+10:00)Canberra,Melbourne,Sydney">65</values>
        <values displayValue="(GMT+10:00)Guam,Port Moresby">66</values>
        <values displayValue="(GMT+10:00)Hobart">67</values>
        <values displayValue="(GMT+11:00)Vladivostok">68</values>
        <values displayValue="(GMT+12:00)Magadan">69</values>
        <values displayValue="(GMT+11:00)Solomon Is.,New Caledonia">70</values>
        <values displayValue="(GMT+12:00)Auckland,Wellington">71</values>
        <values displayValue="(GMT+12:00)Fiji,Kamchatka,Marshall Is.">72</values>
        <values displayValue="(GMT+13:00)Nuku'alofa">73</values>
        <values displayValue="(GMT-4:30)Caracas">74</values>
        <values displayValue="(GMT-3:00)Uruguay">75</values>
        <values displayValue="(GMT+14:00)Kiritimati">76</values>
        <values displayValue="(GMT-4:00)Georgetown">77</values>
        <values displayValue="(GMT+1:00)Namibia">78</values>
        <values displayValue="(GMT)Casablanca">79</values>
        <values displayValue="(GMT)Greenwich Mean Time">80</values>
      </values>
    </variable>
    <variable displayName="timezone" name="params.timezone" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="2" increment="0" refServiceURI="" keepOnImport="false" editable="false" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" isMandatory="false" isUserLocked="true" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <repositories/>
    </variable>
  </variables>
  <example>
    <content>config system globalset admin-scp enableset alias &quot;FortiGate-VM64&quot;set gui-theme redset hostname &quot;FGT_10_31_1_31&quot;set timezone 49
end</content>
  </example>
  <command name="IMPORT">
    <operation><![CDATA[show system global]]></operation>
    <post_template>
{assign_object_variable var=&quot;object_id&quot; value=&quot;0&quot;}
{if ($params.device_timezone == &quot;00&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-1200&quot;}
{elseif ($params.device_timezone == &quot;01&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-1100&quot;}
{elseif ($params.device_timezone == &quot;02&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-1000&quot;}
{elseif ($params.device_timezone == &quot;03&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0900&quot;}
{elseif ($params.device_timezone == &quot;04&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0800&quot;}
{elseif ($params.device_timezone == &quot;05&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0700&quot;}
{elseif ($params.device_timezone == &quot;06&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0700&quot;}
{elseif ($params.device_timezone == &quot;07&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0600&quot;}
{elseif ($params.device_timezone == &quot;08&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0600&quot;}
{elseif ($params.device_timezone == &quot;09&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0600&quot;}
{elseif ($params.device_timezone == &quot;10&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0600&quot;}
{elseif ($params.device_timezone == &quot;11&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0500&quot;}
{elseif ($params.device_timezone == &quot;12&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0500&quot;}
{elseif ($params.device_timezone == &quot;13&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0500&quot;}
{elseif ($params.device_timezone == &quot;14&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0400&quot;}
{elseif ($params.device_timezone ==&quot;15&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0400&quot;}
{elseif ($params.device_timezone == &quot;16&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0400&quot;}
{elseif ($params.device_timezone == &quot;17&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0330&quot;}
{elseif ($params.device_timezone == &quot;18&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0300&quot;}
{elseif ($params.device_timezone == &quot;19&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0300&quot;}
{elseif ($params.device_timezone == &quot;20&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0300&quot;}
{elseif ($params.device_timezone == &quot;21&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0200&quot;}
{elseif ($params.device_timezone == &quot;22&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0100&quot;}
{elseif ($params.device_timezone == &quot;23&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0100&quot;}
{elseif ($params.device_timezone == &quot;24&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0000&quot;}
{elseif ($params.device_timezone == &quot;25&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0000&quot;}
{elseif ($params.device_timezone == &quot;26&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0100&quot;}
{elseif ($params.device_timezone == &quot;27&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0100&quot;}
{elseif ($params.device_timezone == &quot;28&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0100&quot;}
{elseif ($params.device_timezone == &quot;29&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0100&quot;}
{elseif ($params.device_timezone == &quot;30&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0100&quot;}
{elseif ($params.device_timezone == &quot;31&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0200&quot;}
{elseif ($params.device_timezone == &quot;32&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0200&quot;}
{elseif ($params.device_timezone == &quot;33&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0200&quot;}
{elseif ($params.device_timezone == &quot;34&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0200&quot;}
{elseif ($params.device_timezone == &quot;35&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0200&quot;}
{elseif ($params.device_timezone == &quot;36&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0200&quot;}
{elseif ($params.device_timezone == &quot;37&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0300&quot;}
{elseif ($params.device_timezone == &quot;38&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0300&quot;}
{elseif ($params.device_timezone == &quot;39&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0400&quot;}
{elseif ($params.device_timezone == &quot;40&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0300&quot;}
{elseif ($params.device_timezone == &quot;41&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0330&quot;}
{elseif ($params.device_timezone == &quot;42&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0400&quot;}
{elseif ($params.device_timezone == &quot;43&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0400&quot;}
{elseif ($params.device_timezone == &quot;44&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0430&quot;}
{elseif ($params.device_timezone == &quot;45&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0600&quot;}
{elseif ($params.device_timezone == &quot;46&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0500&quot;}
{elseif ($params.device_timezone == &quot;47&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0530&quot;}
{elseif ($params.device_timezone == &quot;48&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0545&quot;}
{elseif ($params.device_timezone == &quot;49&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0600&quot;}
{elseif ($params.device_timezone == &quot;50&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0600&quot;}
{elseif ($params.device_timezone == &quot;51&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0530&quot;}
{elseif ($params.device_timezone== &quot;52&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0630&quot;}
{elseif ($params.device_timezone == &quot;53&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0700&quot;}
{elseif ($params.device_timezone == &quot;54&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0800&quot;}
{elseif ($params.device_timezone == &quot;55&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0800&quot;}
{elseif ($params.device_timezone == &quot;56&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0800&quot;}
{elseif ($params.device_timezone == &quot;57&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0800&quot;}
{elseif ($params.device_timezone == &quot;58&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0800&quot;}
{elseif ($params.device_timezone == &quot;59&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0800&quot;}
{elseif ($params.device_timezone == &quot;60&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0900&quot;}
{elseif ($params.device_timezone == &quot;61&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1000&quot;}
{elseif ($params.device_timezone == &quot;62&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0930&quot;}
{elseif ($params.device_timezone == &quot;63&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0930&quot;}
{elseif ($params.device_timezone == &quot;64&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1000&quot;}
{elseif ($params.device_timezone == &quot;65&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1000&quot;}
{elseif ($params.device_timezone == &quot;66&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1000&quot;}
{elseif ($params.device_timezone == &quot;67&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1000&quot;}
{elseif ($params.device_timezone == &quot;68&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1100&quot;}
{elseif ($params.device_timezone == &quot;69&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1200&quot;}
{elseif ($params.device_timezone == &quot;70&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1100&quot;}
{elseif ($params.device_timezone == &quot;71&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1200&quot;}
{elseif ($params.device_timezone == &quot;72&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1200&quot;}
{elseif ($params.device_timezone == &quot;73&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1300&quot;}
{elseif ($params.device_timezone == &quot;74&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0430&quot;}
{elseif ($params.device_timezone == &quot;75&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0300&quot;}
{elseif ($params.device_timezone == &quot;76&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+1400&quot;}
{elseif ($params.device_timezone == &quot;77&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;-0400&quot;}
{elseif ($params.device_timezone == &quot;78&quot;)}
{assign_object_variablevar=&quot;timezone&quot; value=&quot;+0100&quot;}
{elseif ($params.device_timezone == &quot;79&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0000&quot;}
{elseif ($params.device_timezone == &quot;80&quot;)}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0000&quot;}
{else}
{assign_object_variable var=&quot;timezone&quot; value=&quot;+0000&quot;}
{/if}</post_template>
    <parser>
      <section>
        <regexp>@config system (?&lt;object_id&gt;\S+)@</regexp>
        <xpath/>
      </section>
      <lines>
        <line>
          <array/>
          <regexp>@set timezone (?&lt;device_timezone&gt;\d+)@</regexp>
          <xpath/>
        </line>
        <ignore>
          <regexp>@set @</regexp>
        </ignore>
      </lines>
    </parser>
  </command>
  <command name="UPDATE">
    <operation><![CDATA[config system global
set timezone {$params.device_timezone}
end
]]></operation>
  </command>
  <command name="CONSTRAINT"/>
  <command name="CREATE"/>
  <command name="DELETE"/>
  <command name="READ"/>
  <command name="LIST"/>
</ObjectDefinition>
