<ObjectDefinition>
  <information>
    <icon>/images/eclipseIcons/page_obj.gif</icon>
    <description>Persistence</description>
    <displayField>object_id</displayField>
    <serviceTaskType/>
    <order>10000</order>
    <visibility>0</visibility>
    <configType>cli</configType>
    <createTemplateId/>
    <createTemplateObject/>
    <defaultDisplay>false</defaultDisplay>
    <dynamic>false</dynamic>
    <importIfMandatoryPresent>false</importIfMandatoryPresent>
    <maxInstances>0</maxInstances>
    <relatedObjects/>
    <name>Persistence</name>
    <group>Default</group>
    <importonce>false</importonce>
    <importrank>1</importrank>
    <reorderinstances>false</reorderinstances>
    <sortascending>true</sortascending>
    <sortauto>true</sortauto>
    <sortnumerical>true</sortnumerical>
    <sortvariable>params._order</sortvariable>
  </information>
  <variables frozen="0"/>
  <example>
    <content>
</content>
  </example>
  <command name="IMPORT">
    <parser>
      <section>
        <regexp>@^\s \s*$@</regexp>
      </section>
      <lines/>
    </parser>
  </command>
  <command name="UPDATE"/>
  <command name="CONSTRAINT"/>
  <command name="CREATE"/>
  <command name="DELETE"/>
  <command name="READ"/>
  <command name="LIST"/>
</ObjectDefinition>
