<ObjectDefinition>
  <information>
    <icon>/images/repository/CommandDefinition/icons/vpn gateway.jpg</icon>
    <description>Extended access-list</description>
    <displayField>object_id</displayField>
    <serviceTaskType/>
    <order>400</order>
    <visibility>5</visibility>
    <configType>cli</configType>
    <createTemplateId/>
    <createTemplateObject/>
    <defaultDisplay>false</defaultDisplay>
    <dynamic>false</dynamic>
    <importIfMandatoryPresent>false</importIfMandatoryPresent>
    <maxInstances>0</maxInstances>
    <relatedObjects/>
    <name>Extended access-list</name>
    <group>VPN IPSec</group>
    <importonce>false</importonce>
    <importrank>1</importrank>
    <reorderinstances>false</reorderinstances>
    <sortascending>true</sortascending>
    <sortauto>true</sortauto>
    <sortnumerical>true</sortnumerical>
    <sortvariable>params._order</sortvariable>
  </information>
  <variables frozen="0">
    <variable displayName="ACL Name" name="params.object_id" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="0" increment="0" refServiceURI="" keepOnImport="false" editable="true" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" isMandatory="false" isUserLocked="false" isGrouped="false" isSearchable="false" isUniqueGlobal="false"/>
    <variable displayName=" Subnet" name="params.subneta" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="1" increment="0" refServiceURI="" keepOnImport="false" editable="true" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" isMandatory="false" isUserLocked="false" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <sections>
        <section>Protected Subnet Source </section>
      </sections>
    </variable>
    <variable displayName=" Mask" name="params.maska" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="2" increment="0" refServiceURI="" keepOnImport="false" editable="true" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" isMandatory="false" isUserLocked="false" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <sections>
        <section>Protected Subnet Source </section>
      </sections>
    </variable>
    <variable displayName=" Subnet" name="params.subnetb" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="3" increment="0" refServiceURI="" keepOnImport="false" editable="true" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" isMandatory="false" isUserLocked="false" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <sections>
        <section>Protected Subnet Destination </section>
      </sections>
    </variable>
    <variable displayName=" Mask" name="params.maskb" startIncrement="0" type="String" mandatoryArray="false" visible="true" description="" groupSeparator="" groupDisplayName="" displayOrder="4" increment="0" refServiceURI="" keepOnImport="false" editable="true" onlyDetailView="false" localVarNameMatch="" remoteVarNameMatch="" arrayCanAdd="true" arrayCanRemove="true" arrayCanMove="true" arrayCanEdit="true" isMandatory="false" isUserLocked="false" isGrouped="false" isSearchable="false" isUniqueGlobal="false">
      <sections>
        <section>Protected Subnet Destination </section>
      </sections>
    </variable>
  </variables>
  <example>
    <content>ip access-list extended TEST-SITE-A-B-VPN-ACLpermit ip 172.16.30.0 0.0.0.255 172.16.31.0 0.0.0.255
</content>
  </example>
  <command name="IMPORT">
    <parser>
      <section>
        <regexp>@^\s \s*$@</regexp>
      </section>
      <lines/>
    </parser>
  </command>
  <command name="UPDATE"/>
  <command name="CONSTRAINT"/>
  <command name="CREATE">
    <operation>ip access-list extended {$params.object_id}permit ip {$params.subneta} {$params.maska} {$params.subnetb} {$params.maskb}
</operation>
  </command>
  <command name="DELETE">
    <operation>no ip access-list extended {$acl.$object_id.object_id}
</operation>
  </command>
  <command name="READ"/>
  <command name="LIST"/>
</ObjectDefinition>
